.active > button {
  border-bottom: solid 2px #ffd363 !important;
  padding-bottom: 10px;
}
.active > button > i {
  color: black !important;
}
.bottom-div {
  width: 100%;
  padding-top: 10px;
  background-color: white;
}
.footer-btn {
  width: 100%;
  height: 40px;
  border: none;
  background-color: white;
  color: #dcdcdc;
  cursor: pointer;
}
.footer-btn:hover {
  border-bottom: solid 2px #ffd363 !important;
  color: black !important;
}
.footer {
  border-top: solid 1px #dcdcdc;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
